echo "# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Django stuff:
*.log
*.pot
*.py[cod]
*.so
db.sqlite3

# Django static and media files:
static/
media/

# Environments
.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store" > .gitignore
